body{
	background-color: #16b182;
	color:"#4F4F4F";
	
}


nav{
	
	color:#4F4F4F;

}

div#caixa{
 width: 90%;
 margin:0 auto;
 border: rgb(15, 15, 15) 1px solid;
 box-shadow: 0px 0px 10px;
 padding: 20px;
 
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
}


header{
	font-size: 14pt;
}
	

h1 {
	color:#920a92;
	font-weight: normal;

}

h2{
	color: #920a92;
	font-weight: normal;
}

h3{
	color:rgb(231, 6, 138);
	font-weight: normal;

}

h4{
	color:rgb(187, 82, 8);
	font-weight: normal;
}

p {
	font-size: 13pt;
	color:#4F4F4F;
	text-align: justify;
	text-indent:50px;
    line-height:16pt;
}

ul{
	color:#4F4F4F;

}

ol{
   color:#4F4F4F;
}

p{
    font-size: 13pt;
    text-align: justify;
    text-indent:50px;
    line-height:16pt;

}

address{
	font-size: 10pt;
	color:#4F4F4F;
	text-align: center;
}

#home{
	
color:rgb(231, 6, 138);

}

#contato{
	color:rgb(231, 6, 138);
}





